name: CI

on:
  pull_request:
  merge_group:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  success:
    name: Rust Success
    runs-on: ubuntu-latest
    needs: [build-and-check, coverage]
    steps:
      - name: Rust build and check succeeded
        run: |
          echo "Rust build and check succeeded"

  build-and-check:
    name: Rust Build and Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      # --- Install Nix via Determinate Systems ---
      - name: Set up Determinate Nix
        uses: DeterminateSystems/determinate-nix-action@v3

      - name: Use Determinate Cache
        uses: DeterminateSystems/magic-nix-cache-action@v13

      # --- Enter your flake's devShell (same behavior as direnv) ---
      - name: Run checks in devShell
        run: |
          nix develop --impure --command bash -e -c '
            set -euxo pipefail
            pre-commit run --all-files
          '

  # Run cargo coverage. This will generate a coverage report and upload it to codecov.
  coverage:
    name: Coverage Report
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: dtolnay/rust-toolchain@nightly
      # --- Install Nix ---
      - uses: taiki-e/install-action@v2.62.61
        with:
          tool: cargo-llvm-cov
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
      - run: cargo xtask coverage
      - uses: codecov/codecov-action@v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false
